/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700&family=Montserrat:wght@400;600&family=Oswald:wght@500&family=Pacifico&family=Roboto:ital,wght@0,400;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Lora', serif;
  --third-font: 'Raleway', sans-serif;
  --fourth-font: 'Carattere', cursive;
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --primary-color: #28272f;
  --navbar-color: #38373f;
  --text-color: #cacbd0;
  --off-white: #d3d1e2;
  --accent-color: #f5b87d;
  --accent-dark-color: #7c3c00;
  --upper-side-color: #434449;
  --lower-sidebar-color: #5a5b60;
  /*========== Font and typography ==========*/
  --biggest-font-size: clamp(4rem, 12vmin, 10rem);
  --bigger-font-size: clamp(3.75rem, 3rem, 5rem);
  --big-font-size: clamp(2.5rem, 3rem, 5rem);
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --text-line-height: 0.125rem;
  /*========== Font weight ==========*/
  --font-light: 300;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== Margenes Bottom ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1100px) {
  :root {
    --big-font-size: 4rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-gradient: linear-gradient(hsl(24, 78%, 65%), hsl(30, 86%, 73%));
  --color: hsl(30, 86%, 73%);
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

*::-moz-selection {
  background: var(--text-color);
  color: var(--primary-color);
}

*::selection {
  background: var(--text-color);
  color: var(--primary-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  padding-top: 4rem;
}

.section:nth-child(even) {
  background: var(--upper-side-color);
}

.section-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-2-5);
  position: relative;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 40%;
  height: 2px;
  background: var(--accent-color);
}

.section-title:nth-child(even):after {
  right: 0;
  left: unset;
}

.section__title-gradient {
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.btn {
  display: inline-block;
  background: transparent;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-size: var(--h3-font-size);
  padding: 0.8em 1.8em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*=============== LAYOUT ===============*/
.main {
  overflow: hidden;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: -ms-grid;
  display: grid;
}

.lowOpacity {
  opacity: 0.7;
}

.blur {
  overflow: hidden;
}

/*=============== Header ===============*/
.header {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow-x: hidden;
}

/* ===========Scroll bar ============ */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ============== PreLoader ================== */
body {
  width: 100%;
  font-family: var(--primary-font);
  font-size: var(--normal-font-size);
  background-color: var(--primary-color);
  color: var(--text-color);
  overflow-x: hidden;
  position: relative;
}

.pre-loader {
  min-width: 100%;
  min-height: 100vh;
  position: fixed;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--primary-color);
  z-index: 999;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
}

.svg-file path {
  fill: transparent;
  stroke-width: 3;
  stroke: var(--accent-color);
}

.svg-file.z-logo path {
  stroke-dasharray: 550;
  stroke-dashoffset: 0;
}

.svg-file.z-logo path {
  -webkit-animation: animate-zlogo 3s linear infinite;
          animation: animate-zlogo 3s linear infinite;
}

svg {
  -webkit-filter: drop-shadow(2px 2px 3px black);
          filter: drop-shadow(2px 2px 3px black);
  -webkit-transform: scale(2);
          transform: scale(2);
}

.svg-file h2 {
  font-family: 'Roboto', cursive;
  -webkit-transform: translate(0, 50px) skewX(-210deg) rotate(-6deg);
          transform: translate(0, 50px) skewX(-210deg) rotate(-6deg);
  font-size: 3em;
  color: var(--accent-color);
}

/* .svg-file h2 span:nth-child(1) {
    animation: fadein-fadeout 1s infinite;
} */
.svg-file span {
  -webkit-animation: dots 2.5s steps(6, end) infinite;
          animation: dots 2.5s steps(6, end) infinite;
  font-size: 5em;
  display: block;
  -webkit-transform: translate(0, 65px) skewX(-210deg) rotate(-6deg);
          transform: translate(0, 65px) skewX(-210deg) rotate(-6deg);
  background-color: var(--accent-color);
  width: 8px;
  height: 5px;
}

/* .svg-file h2 span:nth-last-child(1) {
    animation: fadein-fadeout 2s infinite;
} */
@-webkit-keyframes dots {
  0%,
  20% {
    background-color: rgba(191, 224, 215, 0.08);
    -webkit-box-shadow: 0.25em 0 0 rgba(191, 224, 215, 0.08), 0.5em 0 0 rgba(191, 224, 215, 0.08);
            box-shadow: 0.25em 0 0 rgba(191, 224, 215, 0.08), 0.5em 0 0 rgba(191, 224, 215, 0.08);
  }
  40% {
    background-color: var(--accent-color);
    -webkit-box-shadow: 0.25em 0 0 rgba(191, 224, 215, 0.08), 0.5em 0 0 rgba(191, 224, 215, 0.08);
            box-shadow: 0.25em 0 0 rgba(191, 224, 215, 0.08), 0.5em 0 0 rgba(191, 224, 215, 0.08);
  }
  60% {
    -webkit-box-shadow: 0.25em 0 0 var(--accent-color), 0.5em 0 0 rgba(191, 224, 215, 0.08);
            box-shadow: 0.25em 0 0 var(--accent-color), 0.5em 0 0 rgba(191, 224, 215, 0.08);
  }
  80%,
  100% {
    -webkit-box-shadow: 0.25em 0 0 var(--accent-color), 0.5em 0 0 var(--accent-color);
            box-shadow: 0.25em 0 0 var(--accent-color), 0.5em 0 0 var(--accent-color);
  }
}
@keyframes dots {
  0%,
  20% {
    background-color: rgba(191, 224, 215, 0.08);
    -webkit-box-shadow: 0.25em 0 0 rgba(191, 224, 215, 0.08), 0.5em 0 0 rgba(191, 224, 215, 0.08);
            box-shadow: 0.25em 0 0 rgba(191, 224, 215, 0.08), 0.5em 0 0 rgba(191, 224, 215, 0.08);
  }
  40% {
    background-color: var(--accent-color);
    -webkit-box-shadow: 0.25em 0 0 rgba(191, 224, 215, 0.08), 0.5em 0 0 rgba(191, 224, 215, 0.08);
            box-shadow: 0.25em 0 0 rgba(191, 224, 215, 0.08), 0.5em 0 0 rgba(191, 224, 215, 0.08);
  }
  60% {
    -webkit-box-shadow: 0.25em 0 0 var(--accent-color), 0.5em 0 0 rgba(191, 224, 215, 0.08);
            box-shadow: 0.25em 0 0 var(--accent-color), 0.5em 0 0 rgba(191, 224, 215, 0.08);
  }
  80%,
  100% {
    -webkit-box-shadow: 0.25em 0 0 var(--accent-color), 0.5em 0 0 var(--accent-color);
            box-shadow: 0.25em 0 0 var(--accent-color), 0.5em 0 0 var(--accent-color);
  }
}

@-webkit-keyframes fadein-fadeout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein-fadeout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* @keyframes animate-zlogo {
    0% {
        stroke-dashoffset: 0;
    }
    20% {
        stroke-dashoffset: 550;
        fill: transparent;
    }
    40% {
        fill: transparent;
        stroke-dashoffset: 1100;
    }
    60% {
        stroke-dashoffset: 1100;
        fill: #89c9b8;
    }
    80% {
        stroke-width: 0;
        fill: #89c9b8;
    }
    100% {
        stroke-dashoffset: 0; 
        stroke-width: 3;
        fill: transparent;
    }
} */
@-webkit-keyframes animate-zlogo {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 550;
    fill: transparent;
  }
  60% {
    fill: transparent;
    stroke-dashoffset: 1100;
  }
  80% {
    stroke-dashoffset: 1100;
    fill: var(--accent-color);
  }
  100% {
    stroke-width: 0;
    fill: var(--accent-color);
  }
}
@keyframes animate-zlogo {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 550;
    fill: transparent;
  }
  60% {
    fill: transparent;
    stroke-dashoffset: 1100;
  }
  80% {
    stroke-dashoffset: 1100;
    fill: var(--accent-color);
  }
  100% {
    stroke-width: 0;
    fill: var(--accent-color);
  }
}

/* ======================= Pre loader end ===================== */
.up-btn {
  position: fixed;
  right: 10%;
  bottom: 15%;
  background: var(--accent-color);
  color: var(--primary-color);
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  font-size: 30px;
  -webkit-box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.6), 20px 20px 40px rgba(0, 0, 0, 0.6);
          box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.6), 20px 20px 40px rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 9999;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.up-btn:hover,
.up-btn:active {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

.up-btn:focus {
  border: 1px dashed var(--accent-color);
}

/* ============== Logo=========== */
.top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}

.hamburger2 {
  width: 100%;
  height: 30px;
  margin-top: unset;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
}

.line2 {
  width: 25px;
  height: 2px;
  background: var(--text-color);
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.line2::before,
.line2::after {
  content: '';
  position: absolute;
  right: 0;
  height: 2px;
  background: var(--text-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.line2::before {
  width: 100%;
  top: -8px;
}

.line2::after {
  width: 60%;
  top: 8px;
}

.hamburger2:hover .line2,
.hamburger2:hover .line2::before,
.hamburger2:hover .line2::after {
  background-color: #fff;
}

.hamburger-open .line2 {
  background: transparent;
}

.hamburger-open:hover .line2 {
  background: transparent;
}

.hamburger-open .line2::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.hamburger-open .line2::after {
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.logo {
  width: 100%;
  padding: 20px 0;
  padding-left: 4rem;
  margin-right: 100px;
  font-size: var(--h2-font-size);
  color: var(--accent-color);
}

.logo a {
  color: var(--accent-color);
  padding: 10px 20px;
  font-weight: 900;
  font-size: var(--h2-font-size);
  font-family: var(--fourth-font);
}

.logo a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* ==================Navbar ================== */
.navbar {
  width: 20%;
  height: 400px;
  padding: 2rem;
  /* background: rgba(0, 0, 0, 0.6); */
  background: var(--navbar-color);
  position: absolute;
  right: -20%;
  top: 0;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 111;
}

.nav-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-list li a {
  color: var(--accent-color);
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0.3em 0;
  text-align: center;
  letter-spacing: 2px;
  font-size: var(--h2-font-size);
}

.nav-list li a::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: var(--accent-color);
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-list li a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.navbar-open {
  top: 0;
  right: 5.81%;
  opacity: 1;
}

/* ========== sidebar =========== */
.sidebar {
  width: 5.81%;
  height: 100vh;
  min-height: 600px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 112;
}

.upper-sidebar,
.lower-sidebar {
  min-height: 50%;
  text-align: center;
}

.upper-sidebar {
  background: var(--upper-side-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger {
  width: 30%;
  height: 30px;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
}

.line {
  width: 100%;
  min-width: 30px;
  height: 2px;
  background: var(--text-color);
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.line::before,
.line::after {
  content: '';
  position: absolute;
  right: 0;
  height: 2px;
  background: var(--text-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.line::before {
  width: 100%;
  top: -8px;
}

.line::after {
  width: 60%;
  top: 8px;
}

.hamburger:hover .line,
.hamburger:hover .line::before,
.hamburger:hover .line::after {
  background-color: #fff;
}

.hamburger-open {
  opacity: 1;
}

.hamburger-open .line {
  background: transparent;
}

.hamburger-open:hover .line {
  background: transparent;
}

.hamburger-open .line::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.hamburger-open .line::after {
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.lower-sidebar {
  background: var(--lower-sidebar-color);
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lower-sidebar a {
  color: var(--text-color);
  font-size: var(--h2-font-size);
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.lower-sidebar a:hover {
  color: #fff;
}

.after-header {
  position: fixed;
  bottom: 0;
  right: 15px;
  background: transparent;
}

.after-header a {
  margin-top: 25px;
}

.after-header a:hover {
  color: var(--accent-color);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.after-header span {
  height: 150px;
  width: 1px;
  margin-top: 25px;
  background: var(--text-color);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reveal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 3px;
  white-space: pre;
}

.reveal span {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: fade-in 2.4s forwards;
          animation: fade-in 2.4s forwards;
}

.reveal::before, .reveal::after {
  position: absolute;
  content: '';
  top: 0;
  height: 100%;
  width: 2px;
  background: var(--accent-color);
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.reveal::before {
  left: 50%;
  -webkit-animation: slide-left 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
          animation: slide-left 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
}

.reveal::after {
  right: 50%;
  -webkit-animation: slide-right 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
          animation: slide-right 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
}

@-webkit-keyframes fade-in {
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes slide-left {
  to {
    left: -6%;
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes slide-left {
  to {
    left: -6%;
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@-webkit-keyframes slide-right {
  to {
    right: -6%;
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes slide-right {
  to {
    right: -6%;
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

/*==================Hero=================*/
.hero {
  width: 100%;
  max-width: 1550px;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 0 4rem;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
  width: 45%;
  max-width: 600px;
}

.hero-sub {
  position: relative;
  font-size: var(--h2-font-size);
  font-family: var(--secondary-font);
  font-weight: var(--font-light);
  line-height: 1.5;
}

.hero-heading {
  position: relative;
  font-size: var(--bigger-font-size);
  color: var(--accent-color);
  margin-left: 45px;
}

.hero-img-container {
  width: object-fit;
  max-height: 500px;
  margin: 0 auto;
  overflow: hidden;
  border: 10px solid var(--lower-sidebar-color);
  border-radius: 2px;
  position: relative;
  z-index: 11;
}

.hero-img-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--accent-color);
  mix-blend-mode: color;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 12;
}

.hero-img-container:hover::before {
  background: none;
}

.hero-img-container img:hover {
  mix-blend-mode: unset;
}

.hero-btn {
  position: relative;
  margin-top: 3rem;
  border-color: var(--accent-color);
  background: transparent;
  color: var(--accent-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  border-color: var(--primary-color);
  background: var(--accent-color);
  color: var(--primary-color);
}

/* =============== Media Queries ================= */
/* ============== Hero ============ */
@media (max-width: 1198px) {
  .hero-heading {
    font-size: 4rem;
  }
}

@media (max-width: 989px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  .hero-img-container {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin: 0 1rem;
    margin-bottom: 3rem;
  }
  .hero-text {
    width: 100%;
    min-width: 300px;
    padding-left: 1rem;
  }
}

@media (max-width: 675px) {
  .hero-heading {
    font-size: 2.2rem;
  }
  .hero-sub {
    size: 1.5rem;
  }
}

/* =================== Navbar ============== */
@media (max-width: 650px) {
  .upper-sidebar {
    display: none;
  }
  .lower-sidebar {
    position: fixed;
    bottom: 0;
    right: 10px;
    background: transparent;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lower-sidebar a {
    font-size: 16px;
    margin-top: 25px;
  }
  .lower-sidebar span {
    margin-top: 25px;
    width: 1px;
    height: 100px;
    background: var(--text-color);
  }
  .navbar {
    width: 100%;
    min-height: 100vh;
    right: -100%;
  }
  .nav-list {
    height: 100%;
    padding: 3rem 0;
  }
  .navbar-open {
    right: 0;
    top: 0;
  }
  .hamburger2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1240px) {
  .hero-heading {
    font-size: 50px;
  }
}

@media (max-width: 1140px) {
  .hero-heading {
    font-size: 40px;
  }
  .hero-sub {
    font-size: 24px;
  }
}

.about {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-text {
  width: 50%;
  max-width: 700px;
  min-height: 400px;
  padding: 2rem 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  background: var(--accent-color);
  color: var(--primary-color);
  border-radius: 4px;
  margin-left: -100px;
  -webkit-box-shadow: 0 10px 30px -15px var(--primary-color);
          box-shadow: 0 10px 30px -15px var(--primary-color);
}

.about-title {
  font-size: var(--h2-font-size);
  font-family: var(--secondary-font);
  letter-spacing: 1.2px;
  margin-bottom: 2rem;
}

.about-desc {
  font-size: var(--h3-font-size);
  font-family: var(--secondary-font);
  font-weight: var(--font-medium);
  line-height: 1.4;
}

.about-desc span {
  text-decoration: underline;
  color: var(--accent-dark-color);
}

.about-img {
  width: 50%;
  height: 600px;
  background: url("../images/IMG_20200518_143707_995.jpg") no-repeat center/cover;
  border-radius: 4px;
}

.about-btn {
  margin-top: 2rem;
  border-color: var(--parimary-color);
  background: transparent;
  color: var(--parimary-color);
}

.about-btn:hover {
  background: var(--primary-color);
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-img {
    width: 100%;
  }
  .about-text {
    width: 100%;
    margin-left: 0;
  }
}

.projects {
  width: 80%;
  max-width: 1100;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  background: var(--lower-sidebar-color);
  color: var(--off-white);
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.projects .card .card--image-container {
  width: 55%;
  overflow: hidden;
  mix-blend-mode: hard-light;
  position: relative;
}

.projects .card .card--image-container img {
  min-height: 100%;
}

.projects .card .card--image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.projects .card .card--image-container:hover::after {
  width: 0;
  height: 0;
  opacity: 0;
}

.projects .card .card--image-container:hover {
  mix-blend-mode: normal;
}

.projects .card .card--text-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 45%;
  text-align: right;
  margin-top: 3rem;
  padding: 20px 30px;
  font-family: var(--secondary-font);
}

.projects .card .card--text-container h3 {
  font-size: var(--h3-font-size);
  color: white;
  letter-spacing: 2px;
}

.projects .card .card--text-container p {
  margin-top: 1.5rem;
  line-height: 1.4;
  letter-spacing: 1.4px;
}

.projects .card .card--text-container .technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  font-weight: 500;
}

.projects .card .card--text-container a {
  color: var(--off-white);
  text-decoration: underline;
}

.projects .card .card--text-container a:hover {
  text-decoration: none;
}

.projects .card:nth-child(even) .card--image-container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.projects .card:nth-child(even) .card--text-container {
  text-align: left;
}

.show--more-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 1rem;
  text-decoration: underline;
}

@media (max-width: 932px) {
  .technologies {
    font-size: 12px;
  }
}

@media (max-width: 822px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card--image-container {
    width: 100% !important;
  }
  .card:nth-child(even) .card--image-container {
    -webkit-box-ordinal-group: unset !important;
        -ms-flex-order: unset !important;
            order: unset !important;
  }
  .card:nth-child(even) .card--text-container {
    text-align: left;
  }
  .card--text-container {
    width: 100% !important;
    border: none !important;
  }
}

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form {
  width: 70%;
  max-width: 1000px;
  min-width: 300px;
  padding: 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form div input:nth-child(2) {
  margin-right: 0;
  margin-left: 10px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 20px;
  margin: 5px;
  font-size: var(--normal-font-size);
  font-family: var(--secondary-font);
  background: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  outline: none;
  -webkit-transition: outline 0.3s ease-in;
  transition: outline 0.3s ease-in;
}

.form input:focus,
.form textarea:focus {
  outline: 1px solid var(--accent-color);
  -webkit-box-shadow: 2px 2px 4px #e79d58, -2px -2px 4px #e79d58;
          box-shadow: 2px 2px 4px #e79d58, -2px -2px 4px #e79d58;
}

.form button {
  width: 100%;
  margin-left: 5px;
  font-size: 1.5rem;
  font-family: var(--secondary-font);
  padding: 0.3em 0.5em;
  border-radius: 4px;
  background: var(--accent-color);
  color: var(--primary-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form button:hover {
  background: #e79d58;
}

@media (max-width: 650px) {
  .form div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form div input:nth-child(2) {
    margin-left: 4px;
  }
}

.footer-github {
  height: 80px;
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-github p {
  font-weight: var(--font-light);
}

.footer-github p span {
  font-weight: var(--font-medium);
}

.github-actions {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.github-actions svg {
  width: 8px;
  height: 8px;
  margin-right: 40px;
}

.footer-github:hover {
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */