@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.reveal {
    --background-color: var(--accent-color);
    position: relative;
    width: fit-content;
    padding-inline: 12px;
    &::before,
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: var(--background-color);
    }
    &::before {
        animation: typewriter 4s 500ms forwards;
    }
    &::after {
        background: transparent;
        border-left: 2px solid var(--accent-color);
    }
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}